.hugeWeight {
    font-family: 'Inter', sans-serif;
    color: #1C1C1C;
	font-weight: 600;
}

.hugeSlim {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
	font-weight: 400;
}

.bigSlim {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
	font-weight: 400;
	line-height: 24px;
}

.middleWeight {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
	font-weight: 600;
	line-height: 40px;
	margin: auto;
}

.middleSlim {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
    font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
}

.tiny {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
    font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

@media (max-width: 700px) {
	.hugeWeight {
		font-size: 25px;
	}

	.hugeSlim {
		font-size: 25px;
	}

	.bigSlim {
		font-size: 17px;
	}

	.middleWeight {
		font-size: 12px;
	}

	.middleSlim {
		font-size: 12px;
	}
}

@media (min-width: 700.01px) {
	.hugeWeight {
		font-size: 48px;
	}

	.hugeSlim {
		font-size: 36px;
	}

	.bigSlim {
		font-size: 24px;
	}

	.middleWeight {
		font-size: 20px;
	}

	.middleSlim {
		font-size: 20px;
	}
}