.blue {
	gap: 10px;
	background-color: #007AFF;
	cursor: pointer;
	display: grid;            
	place-items: center;
	color: #ffffff;
}

.white {
	gap: 10px;
	border: 1px;
	border-color: #007AFF;
	border-style: solid;
	cursor: pointer;
	display: grid;            
	place-items: center;
	color: #007AFF;
	margin-top: 24px;
}

@media (max-width: 700px) {
	.blue {
		font-size: 15px;
		font-weight: 200;
		width: 120px;
		height: 35px;
		border-radius: 9px;
	}

	.white {
		height: 35px;
		min-width: 170px;
		font-size: 15px;
		font-weight: 200;
		border-radius: 9px;
	}
}

@media (min-width: 700.01px) {
	.blue {
		height: 50px;
		font-size: 24px;
		padding: 0 70px;
		font-weight: 500;
		border-radius: 16px;
	}

	.white {
		min-width: 300px;
		font-size: 24px;
		padding: 0 70px;
		font-weight: 500;
		height: 50px;
		border-radius: 16px;
	}
}
