.huge-weight {
    font-family: 'Inter', sans-serif;
    color: #1C1C1C;
	font-weight: 600;
}

.huge-slim {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
	font-weight: 400;
}

.big-slim {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
	font-weight: 400;
	line-height: 24px;
}

.middle-weight {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
	font-weight: 600;
	line-height: 40px;
	margin: auto;
}

.middle-slim {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
    font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
}

.tiny {
	font-family: 'Inter', sans-serif;
    color: #1C1C1C;
    font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

@media (max-width: 700px) {
	.huge-weight {
		font-size: 25px;
	}

	.huge-slim {
		font-size: 25px;
	}

	.big-slim {
		font-size: 17px;
	}

	.middle-weight {
		font-size: 12px;
	}

	.middle-slim {
		font-size: 12px;
	}
}

@media (min-width: 700.01px) {
	.huge-weight {
		font-size: 48px;
	}

	.huge-slim {
		font-size: 36px;
	}

	.big-slim {
		font-size: 24px;
	}

	.middle-weight {
		font-size: 20px;
	}

	.middle-slim {
		font-size: 20px;
	}
}